{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
                </div>
            {% endfor %}
        </div>
        {% if dates is not None %}
            <h2>Даты публикации:</h2>
            {% for date in dates %}
                <p>
                    <a href="{{ date | date:'Y-m-d'}}">{{ date }}</a>
                </p>
            {% endfor %}
        {% endif %}
        <p>
            {% if previos_date is not None %}
                <a href="{{ previos_date | date:'Y-m-d' }}">{{ previos_date }}</a>
            {% endif %}
            &nbsp;&nbsp;&nbsp;&nbsp;
            {% if next_date is not None %}
                <a href="{{ next_date | date:'Y-m-d' }}">{{ next_date }}</a>
            {% endif %}
        </p>
    </div>
{% endblock %}